<!--<div class="faq-header">Frequently Asked Questions</div>

<div class="faq-content">
  <div class="faq-question">
    <input id="q1" type="checkbox" class="panel">
    <div class="plus">+</div>
    <label for="q1" class="panel-title">What is the meaning of life?</label>
    <div class="panel-content">42</div>
  </div>
  
  <div class="faq-question">
    <input id="q2" type="checkbox" class="panel">
    <div class="plus">+</div>
    <label for="q2" class="panel-title">How much wood would a woodchuck chuck?</label>
    <div class="panel-content">A woodchuck would chuck all the wood he could chuck, if a woodchuck could chuck wood!</div>
  </div>
  
  <div class="faq-question">
    <input id="q3" type="checkbox" class="panel">
    <div class="plus">+</div>
    <label for="q3" class="panel-title">What happens if Pinocchio says, "my nose will grow now"?</label>
    <div class="panel-content">Certain questions are better left &nbsp; <a href="https://en.wikipedia.org/wiki/The_Unanswered_Question" target="_blank">unanswered</a></div>
  </div>

  <button type="button" class= "btn btn-danger"href=""routerLink="/home"> Back  </button>
</div>-->

<body>
    <div id="faq" class="faq-body">
 
      <div class="faq-header">
        <h3 class="faq-title"><b>FAQ's</b></h3>
        <div class="seperator"></div>
      </div>
      <div class="faq-list">
          <div>
            <details open>
              <summary title="How can I pay for my appointment?">Can I change my personal details on GROW Bank EBanking?</summary>
              <p class="faq-content"> • You can change your Nick Name, Preferences, and personalize the Dashboards in our banking system. <br>
                • For changes in email id, mobile number and communication / permanent address,
                please visit any of the nearest GROW Bank Branch.</p>
            </details>
            </div>
          <div>
            <details>
              <summary title="What can I expect at my first consultation?">What are the Web browser requirements?</summary>
              <p class="faq-content"> • Our site runs best on the latest versions of major internet browsers (Chrome, FireFox, Internet Explorer, Edge and Safari).  
                Keep your browser up to date to ensure optimal performance and security on our website. </p>
            </details>
            </div>
          <div>
            <details>
              <summary title="What are your opening hours?">How can i transfer amount to user?</summary>
              <p class="faq-content">Once your growbank account is created, You can transfer the amount to the user using any one of the mentioned methods of transfer i.e, UPI/NEFT/RTGS.</p>
            </details>
            </div>
          <div>
            <details>
              <summary title="Do I need a referral?">Is there any minimum balance I need to maintain in the account?</summary>
              <p class="faq-content">No, the range of benefits offered on the account can be availed although you do not maintain any minimum balance. Savings account holders with a zero balance can conduct transactions without maintaining an Average Monthly Balance.</p>
            </details>
            </div>
          <div>
            <details>
              <summary title="Is the cost of the appointment covered by private health insurance?">What are the services and transactions offered at GROWBANK ?</summary>
              <p class="faq-content">1.Check your account balance, transaction history. <br>
                2.We provide home loans and gold loans  at minimal rate of interest. <br> 
                3.Transfer money between your accounts through UPI/NEFT/RTGS. <br>
                  *Please note specific terms and conditions may apply according the chosen service / transaction <br>
                  For further details please feel free to contact +(91) 040-999-6633. </p>
            </details>
            </div>
          <div>
                <details>
                    <summary title="What are the parking and public transport options?">How safe is GROW BANK Online Banking?</summary>
                    <p class="faq-content">GROW BANK takes every precaution to keep your online experience safe. In a continued effort to safeguard online banking transactions. We keep your information private between the bank's computer system and your Internet browser..</p>
                </details>
            </div>
      </div>
      
    </div>
</body>