<h2>Customer Details</h2>
<hr>

<div *ngIf="user">
    <div>
        <label><b>Id :</b></label>{{user.id}}
    </div>
    <div>
        <label><b>Email :</b></label>{{user.email}}
    </div>
   
    <div>
        <label><b>First Name :</b></label>{{user.fname}}
    </div>

    <div>
        <label><b>Last Name :</b></label>{{user.lname}}
    </div>
<!--
    <div>
        <label><b>Password :</b></label>{{customer.password}}
    </div>-->
    <div>
    <!--   <label><b>Dob :</b></label>{{customer.dob}}-->
    </div>
    <div>
        <label><b>PhoneNo :</b></label>{{user.phoneNo}}
    </div>

    <div>
        <label><b>Account No :</b></label>{{user.accountNo}}
    </div>
   <!--
    <div>
        <label><b>Address :</b></label>{{customer.address}}

    </div>



-->
<br>
<br>



<br><br><br><br><br><br><br><br><br>
</div>

