<div class="container col-lg-6">
    <br>
    <div class="admin">
      <img src="/assets/images/admin.jpg" alt="" height="100px" width="100px">
    </div>
      <h1 class="text-center">Admin Login</h1>
      <br>
      <div class="card">
        <div class="card-body">
          <form class="form-group" ngNativeValidate>
         <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="text" class="form-control" [(ngModel)]="email" id="email" placeholder="Enter Email"
                name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" [(ngModel)]="password"  id="password" placeholder="Enter password"
                name="password" required>
            </div>
            <br>
            <button routerLink="/admindashbord" class="btn btn-success">Login</button>
           <br>
           <br>
          

          </form>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  
