<form>
  <button type="button" class= "btn btn-danger"href=""routerLink="/account">Back to Account</button>
  <div style="text-align:center ;">
    <h2>Add Beneficiary</h2>
  </div>

  <div style="padding-left:15% ;padding-right:15% ;">
    <div class="mb-3">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Beneficiary Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="bname">
      </div>

      <div>
        <label for="exampleInputPassword1" class="form-label"> Beneficiary Account Number</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="baccountNo">
      </div>

      <div>
        <label for="exampleInputPassword1" class="form-label"> Re-Enter Account Number</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="baccountNo">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Nick Name</label>
        <input type="text" class="form-control" id="exampleInputPassword3" name="nikname">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

      


    </div>
  </div>
</form>